<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="home">
        <div class="container">
            <div class="login-page clearfix">
              <div class="logged-in-box auth0-box logged-in">
                <h4 align="center">Welcome to <span class="bold">app3.com</span> <span class="name"></span></h4>
                <a href="http://app2.com:3001/?targetUrl=some-url-i-want">Click here to go to App2</a><br />
                <a href="http://app1.com:3000/?targetUrl=cool-url-i-want">Click here to go to App1</a><br />
              </div>
            </div>
        </div>
    </body>
</html>
